[submodule "schedule"]
	path = schedule
	url = https://github.com/austinkden/xyz-schedule.git
	ignore = dirty
[submodule "utility"]
	path = utility
	url = https://github.com/austinkden/xyz-utility.git
	ignore = dirty
[submodule "about"]
	path = about
	url = https://github.com/austinkden/xyz-about.git
	ignore = dirty