
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  background-color: #1A1D22;
  font-family: DM Sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

div.surface {
  background-color: #353D49;
}

div.section {
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: 20px;
  box-sizing: border-box;
}

.heading:not(.name) {
  color: #F2EDFF;
  font-size: 20px;
  font-weight: bold;
}

.namebar {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  height: 70px;
  border: 3px #8859FF solid;
  color: #F2EDFF;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.namebar:hover {
  color: #8859FF;
  cursor: pointer;
  box-shadow: 0 0 8px #8859FF;
  transition: color 0.5s ease, box-shadow 0.3s ease, border 0.3s ease;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button.buttonrow1, button.buttonrow2 {
  background-color: #353D49;
  border: none;
  color: #CAC9D1;
  font-size: 20px;
  font-weight: bold;
  width: 248px;
  height: 70px;
  transition: color 0.5s ease, box-shadow 0.3s ease, border 0.3s ease;
}

div.buttons {
  margin-top: 20px;
  display: grid;   /* Use flexbox to align buttons side by side */
  padding: 0;      /* Remove padding */
  gap: 4px;          /* Ensure there's no gap between flex items */
  border-radius: 10px;
}

button.socials {
  border-radius: 10px 3px 3px 3px;
}

button.about {
  border-radius: 3px 10px 3px 3px;
  background-image: linear-gradient(to bottom right, #353D49, #353D49, #8859FF, #353D49, #353D49)
}

button.blog {
  border-radius: 3px 3px 3px 10px;
}

button.others {
  border-radius: 3px 3px 10px 3px;
}

button.buttonrow1:hover, button.buttonrow2:hover {
  cursor: pointer;
  color: #8859FF;
}

.bannerimagebelow {
  width: 500px;
  margin-top: 20px;
  border-radius: 10px;
  border: 3px #8859FF solid;
}

p.bannerimagebelow-disclaimer {
  text-align: center;
  margin-top: 0px;
  color: #222830;
}