
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  background-color: #1A1D22;
  font-family: DM Sans;
  display: flex;
  justify-content: center;
}

.namebar-image img {
  width: 50px;
  height: 50px;
  border-radius: 45%;
  box-shadow: 0 0 4px #EBD553;
  margin-right: 10px;
  margin-top: 8px;
}

div.surface {
  background-color: #353D49;
}

div.section {
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading:not(.name) {
  color: #F2EDFF;
}

.namebar {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  width: fill;
  padding: 10px 20px;
  height: 50px;
  border: 3px #8859FF solid;
  box-shadow: 0 0 2px #8859FF;
  color: #F2EDFF;
  transition: color 0.2s ease, box-shadow 0.2s ease;
}

.namebar:hover {
  color: #8859FF;
  cursor: pointer;
  box-shadow: 0 0 8px #8859FF;
}
